<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-3">
            <div class="card body">
                <span class="titulo">Crear Producto </span>
                <form action="" class="mt-3">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="Producto" 
                        aria-describedzzzby="emailHelp" placeholder=" Nombre Producto" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="Categoria" 
                        aria-describedzzzby="emailHelp" placeholder=" Nombre Categoria" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="Ubicacion" 
                        aria-describedzzzby="emailHelp" placeholder=" Nombre Ubicacion" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" id="Precio" 
                        aria-describedzzzby="emailHelp" placeholder=" Precio Producto"autocomplete="off">
                    </div>
                    <div>
                        <div class="class mt-3">
                            <button class="btn btn-secondary float-start" routerLink="/mostrar-lista">VOLVER</button>
                            <button type="submit" class="btn btn-success float-end">ACEPTAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
