<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto">CREAR PROCDUCTO</button>
                    <div class="table responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">categoria</th>
                                <th scope="col">ubicacion</th>
                                <th scope="col">precio</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td >1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td></td>
                                <td><i class="fa-solid fa-pen-to-square text-primary"></i>
                                    <i class="fa-solid fa-trash text-danger"></i></td>
                            </tr>
                            <tr>
                                <td >2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td></td>
                                <td><i class="fa-solid fa-pen-to-square text-primary"></i>
                                    <i class="fa-solid fa-trash text-danger"></i></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
